<br>
<h1>登录页面</h1>
<p>
  <label for="userName">用户名</label>
  <input [(ngModel)]="name" type="text" id="userName">
  <span *ngIf="!isNameNull">*</span>
  <span *ngIf="isNameNull">用户名不能为空！</span>
</p>
<p>
  <label for="uPwd">密 &nbsp;&nbsp;码</label>
  <input [(ngModel)]="pwd" type="text" id="uPwd">
  <span *ngIf="!isPwdNull">*</span>
  <span *ngIf="isPwdNull">密码不能为空！</span>
</p>
<p>
  <button (click)="loginToMain()">登录</button>
</p>