<h1>Pipe</h1>

<!--date pipe-->
<span>{{nowDate}}</span><br>
<span>{{nowDate | date:'yyyy-MM-dd hh:mm'}}</span><br>
<!--json pipe-->
<span>{{stu}}</span><br>
<span>{{stu | json}}</span><br>
<!--uppercase/lowercase-->
<p>{{stuName | uppercase}}</p>
<p>{{stuName | lowercase}}</p>
<!--number-->
<p>{{PI}}</p>
<p>{{PI | number:'2.3'}}</p>
<!--currency-->
<p>{{price}}</p>
<p>{{price | currency}}</p>
<p>{{price | currency:'USD'}}</p>
<p>{{price | currency:'EUR'}}</p>
<p>{{price | currency:'CNY'}}</p>
<p>{{price | currency:'CNY':false}}</p>
<!--percent-->
<p>{{value | percent}}</p>
<p>{{value | percent:'4.1'}}</p>
<!--slice-->
<p>{{stuName | slice:1}}</p>
<p>{{stuName | slice:1:3}}</p>

<!--Custom Pipe-->
<h1>{{1 | myPipe}}</h1>