<h1>this is my component.</h1>
<ul>
  <li *ngFor="let tmp of list;let myIndex=index">
    {{"myIndex is "+myIndex+" value is "+tmp}}
  </li>
</ul>
<hr>
<button *ngIf="hasMore">加载更多</button>
<p *ngIf="!hasMore">没有更多数据可以加载了</p>
<hr>
<table border="1">
  <thead>
    <th>姓名</th>
    <th>成绩</th>
    <th>住址</th>
  </thead>
  <tbody>
    <ng-container *ngFor="let stu of stus" >                
      <tr *ngIf="stu.stuScore>80">
          <td>{{stu.stuName}}</td>
          <td>{{stu.stuScore}}</td>
          <td>{{stu.stuAddr}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
<hr>
<div [ngSwitch]="answer">
  <p *ngSwitchCase="'a'">A</p>
  <p *ngSwitchCase="'b'">B</p>
  <p *ngSwitchCase="'c'">C</p>
  <p *ngSwitchCase="'d'">D</p>
  <p *ngSwitchDefault>请输入正确的答案</p>
</div>
<hr>
<h1>Event binding</h1>
<button (click)="handleClick()">clickMe</button>
<h1>Attr binding</h1>
<img [src]="'assets/img/'+imgUrl" alt="">
<a [href]="linkUrl">baidu</a>
<h1>style/class binding</h1>
<p [ngStyle]="{color:myColor}">hello,tricy.</p>
<h5 [ngClass]="{myBlue:true}">My Color Will Change.</h5>

<button (click)="changeOpacity()">改变透明度</button>
<p [ngStyle]="{opacity:myOpacity}">this is paragraph.</p>
<h1>Data Binding</h1>
<input type="text" [(ngModel)]="myAddr" />
<p>{{"用户的地址为："+myAddr}}</p>
<hr>
<input type="text" [(ngModel)]="myPhone" (ngModelChange)="getUserInput($event)"/>
<p>{{"用户的手机号为"+myPhone}}</p>


