<p>
  <label for="uname">姓名</label>
  <input [(ngModel)]="uname" type="text" id="uname">
</p>
<p>
  <label for="addr">住址</label>
  <input [(ngModel)]="addr" type="text" id="addr">  
</p>
<p>
  <button (click)="confirmToAdd()">确认添加</button>
</p>