<app-head [hasLogined]="userLogined" [username]="cusname"></app-head>
<div *ngIf="userLogined" class="logined">
  <h4>用户列表：</h4>
  <button (click)="addUser()">添加用户</button>
  <input-box (sendToMain)="rcvInfo($event)" *ngIf="toAddUser" [displayBox]="toAddUser"></input-box>
  <table border="1">
    <thead>
      <th>序号</th>
      <th>姓名</th>
      <th>住址</th>
      <th>详细信息</th>
      <th>操作</th>
    </thead>
    <tbody>
      <tr *ngFor='let user of userInfo;let myIndex=index'>
        <td>{{myIndex+1}}</td>
        <td>{{user.title}}</td>
        <td>{{user.body}}</td>   
        <td><button (click)="canCheckMail(myIndex)">查看详情</button></td>
        <td><button (click)="deleteUser(myIndex)">删除</button></td>   
      </tr>
    </tbody>
  </table>
  <!--待实现-->
  
</div>
<div *ngIf="!userLogined" class="un-login">
  <h3>请登录！</h3>
  <a routerLink="/toLogin">去登录...</a>
</div>
<!--跳转详情页时设置路由守卫-->
<div class="dialog" *ngIf="showDia">
  <h4>请输入用户id：</h4>
  <hr>
  <input [(ngModel)]="uid" type="text" placeholder="plz enter your id..."><br><br>
  <button (click)="jumpToDetail()">确定</button>
  <button (click)="cancel()">取消</button>
</div>