<div class="header">
  <span>This is app's header.</span>
  <a *ngIf="!hasLogined" routerLink="/toLogin">登录</a>
  <span *ngIf="hasLogined">{{"  欢迎你 : "+username}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <button (click)="jumpToUnknown()">not-found-404</button>
  <button (click)="jumpToUnknown1()">not-found-500</button>
</div>