
<h1>This is Detail Component.</h1>
<button (click)="goBack()">返回上一页</button>
<h3>{{"您正在查看的用户为：'"+rcvInfo.title+"'"}}</h3>
<div class="floatBox clear">
  <div><img src="../../assets/img/user.jpg" alt=""></div>
  <div>
    <h3>{{"用户编号为：'"+rcvInfo.id+"'"}}</h3>
    <p>{{"用户信息：'"+rcvInfo.body+"'"}}</p>
    <h3>净资产：{{ money | currency}}</h3>
    <button routerLink="/mail">查看用户邮件</button>
  </div>
</div>




